<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= generalConfig.application.name %> - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation-flex.min.css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" media="all">
    <style>
      body {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        background: #f6f6f6;
      }
      #main {
        height: 100vh
      }
      .button {
          background-color: <%= generalConfig.application.principalColor %>;
      }
      a {
          color: <%= generalConfig.application.principalColor %>;
      }
      .login-form {
        background: white;
        padding: 50px 60px;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, .1);
      }
      .recover{
          display: block;
      }
      .align-center {
          margin: 0 auto;
      }
      .row {
          align-items: center
      }
    </style>
  </head>
  <body>
    <div class="row align-middle align-center" id="main">
      <div class="small-12 columns">
        <div class="row align-center">
          <div class="small-10 medium-8 large-8 columns">
            <div class="login-form row">

              <div class="small-8 medium-8 large-5 columns align-center">
                <img src="<%= generalConfig.application.logo %>">
              </div>
              <div class="small-10 medium-8 large-6 columns align-center">
                  <h1>Login correct</h1>
                  <h4>Welcome to Control Tower</h4>
              </div>

            </div>
          </div>
          <!-- <a href="/auth/twitter">Twitter</a> -->
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js"></script>
  </body>
</html>
